.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.search {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #EBEBEB;
}

.search::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #D1D1D1;
}

.searchContainer .icon {
    position: absolute;
    left: 20px;
}

.searchContainer .total {
    position: absolute;
    right: 20px;
    color: #D1D1D1;
    font-weight: 400;
    font-size: 14px;
}